name: build

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: |
          ./gradlew --no-configuration-cache
          :androidApp:assembleDebug
          :desktopApp:package
          :browserApp:wasmJsBrowserDistribution

      - name: Archive distribution
        uses: actions/upload-artifact@v5
        with:
          path: build/prodDist
          name: prodDist
